**/bin/*
MindLated/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
MindLated/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
MindLated/obj/Debug/App.baml
MindLated/obj/Debug/App.g.cs
MindLated/obj/Debug/App.g.i.cs
MindLated/obj/Debug/build.force
MindLated/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MindLated/obj/Debug/MainWindow.baml
MindLated/obj/Debug/MainWindow.g.cs
MindLated/obj/Debug/MainWindow.g.i.cs
MindLated/obj/Debug/MindLated.csproj.CopyComplete
MindLated/obj/Debug/MindLated.csproj.CoreCompileInputs.cache
MindLated/obj/Debug/MindLated.csproj.FileListAbsolute.txt
MindLated/obj/Debug/MindLated.csproj.GenerateResource.cache
MindLated/obj/Debug/MindLated.csprojAssemblyReference.cache
MindLated/obj/Debug/MindLated.exe
MindLated/obj/Debug/MindLated.exe.config
MindLated/obj/Debug/MindLated.g.resources
MindLated/obj/Debug/MindLated.pdb
MindLated/obj/Debug/MindLated.Properties.Resources.resources
MindLated/obj/Debug/MindLated_MarkupCompile.cache
MindLated/obj/Debug/MindLated_MarkupCompile.i.cache
MindLated/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
MindLated/obj/MindLated.csproj.nuget.dgspec.json
MindLated/obj/MindLated.csproj.nuget.g.props
MindLated/obj/MindLated.csproj.nuget.g.targets
MindLated/obj/project.assets.json
MindLated/obj/project.nuget.cache
.vs/MindLated/v16/.suo
.vs/MindLated/v16/.suo
MindLated/obj/Debug/DesignTimeResolveAssemblyReferences.cache
