**/bin/*
**/obj/*
.vs/
/.vs/MindLated/v17
*.vsidx
*.lock
MindLated.sln.DotSettings.user
.vs/MindLated/DesignTimeBuild/.dtbcache.v2
.github/agents/
.github/instructions/
.github/cil.md
.serena/memories/
.!.serena/memories/
.vscode/